.footer {
    text-align: center;
    font-size: 20px;
    background-color: #333;
    color: white;
    width: 100%;

    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 10px;
    align-self: flex-end;
}